<!DOCTYPE html>
<html>
  <head>
    <title>My note collection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name = "turbolinks-visit-control" content="reload">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all'%>

  </head>

  <body>
   <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <%= link_to notes_path, class: 'brand-logo center' do %>
            <%=t('app_title')%>
          <% end %>
          <a href="#" data-target ="mobile-demo" class="rigth sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li >
              <a id="themeBtn" class="waves-effect waves-light btn ">
                <%=t('darkmode')%>
              </a>  
            <li> <%=link_to "Español", url_for(locale:'es'), class: "btn btn-primary" %></li>
            <li> <%=link_to "English", url_for(locale:'en'), class: "btn btn-primary" %></li>
            </li>
          </ul>
        </div>

      </nav>
    </div> 

    <div class="container ">
      <%= yield %>
    </div>
  </body>
</html>
